In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
netflix = pd.read_csv(f"netflix_titles.csv", encoding='utf-8')

In [21]:
# 상위 행 5개 보기
netflix.head()

# 하위 행 5개 보기
netflix.tail()

# 결측치, 데이터 타입 확인
netflix.info()

# 수치형 정보 확인
netflix.describe()

# 결측치 확인
netflix.isnull().sum()

# 결측치 채우기ㅏ
netflix.fillna('unknown', inplace=True)

# 바꾸기
netflix.replace(np.nan, 'char')

# 결측치 삭제 (axis=0: 행 삭제, axis=1: 열 삭제) inplace=True: 원본 데이터에 저장
netflix.dropna("delete values", axis=0, inplace=True)

# 고유값 확인
netflix['type'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

TypeError: DataFrame.dropna() takes 1 positional argument but 2 positional arguments (and 2 keyword-only arguments) were given

In [ ]:
# 결측치 비율 확인
for i in netflix.columns:
    missingvalues = netflix[i].isna().sum() / len(netflix) * 100
    if missingvalues > 0:
        print(f"{i} : {missingvalues:.2f}%")

director : 29.91%
cast : 9.37%
country : 9.44%
date_added : 0.11%
rating : 0.05%
duration : 0.03%

In [ ]:
# query 함수 사용
netflix.query("title == 'Squid Game'")

# str.contains 함수 사용 지정한 단어가 포함된 행 찾기
# na = False : 결측치 무시, case = False : 대소문자 구분 없음
netflix("title").str.contains("Squid", na= False , case = False)

# true인 값만 출력
netflix[netflix['title'].str.contains("squid game", na = False, case = False)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
33,s34,TV Show,Squid Game,NaN,"Lee Jung-jae, Park Hae-soo, Wi Ha-jun, Oh Youn...",NaN,"September 17, 2021",2021,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Thrillers",Hundreds of cash-strapped players accept a str...